@charset "utf-8";
body {
    font: 18px/1.8 Lato;
    background-color: #42413C;
    color: #000;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}

a:link,
a:visited {
    color: #0B486B;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
}

         #gmap_canvas img {
         max-width: none!important;
         background: none!important
         }
      

#container{
    width:80%

}
header {
    background-color: #fff;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
    overflow: hidden;
}

header h1 {
    margin: 0;
    font-size: 62px;
}

header img {
    float: left;
    margin-right: 10%;
}

nav {
    clear: left;
    float: left;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 1%;
    font-size: 1em;
}

nav ul a:link,
nav ul a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    width: 160px;
    color: #666;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #666;
    color: #FFF;
}

article {
    padding: 0;
    width: 100%;
    float: left;
     background-color: rgba(255, 255, 255, 0.8);
}

article h1 {
    background-color:"#FFFFFF" 

}

article h2 {
  
    margin-bottom: 0;
    color: #06b0c9;
}

aside {
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
  
}

section {
   
    background-color:#FFFFFF;
    height:100%;
}


footer {
    width: 100%
    padding: 1%;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}

.col-lg-8 {
   padding: 0 !important;
   margin: 0 !important;
   background-color: "white";
}
.col-lg-2 {
   padding: 0 !important;
   margin: 0 !important;
}

.promise-container {
    display: inline-block;
    width: 33%;
    height: 20vw;
    background: url('images/circle.jpg');
    background-size: auto 12vw;
    background-repeat: no-repeat;
    background-position: center;

}

.has-inline-elements {
    font-size: 0px;
}

.promise {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 1vw;
}

.fancybox-title {
    font: 100%/1.6 lato;
    text-align: center;
}

.rotate-img img {
    transform: rotate(-11deg);
    width: 80%;
    padding: 10%;
}

.button{
  margin-left: 40%;
}
@media(max-width : 960px){
    
    header img {
        width: 100%;
    }
    #wrapper {
        margin: 0 auto;
        width: 100%;
      
        background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
    }
    
    .promise-container {
        background-size: auto 20vw;
    }
    
    .promise {
        font-size: 2vw;
    }
    
    .fancybox-title {
        font: 1em/1.6 lato;
        text-align: center;
    }

    aside{
        font-size :0.5em;
        img{
            width:20%;
        }
    }

}

@media(max-width : 640px){
    
    nav {
        clear: left;
        float: left;
        width: 100%;
    }
    body{
        margin:0;
        padding:0;
        width:100%;
    }   
    #wrapper{
        margin = 0;
    }


    .fancybox-title {
        font: 0.8em/1.6 lato;
        text-align: center;
    }
    
    .nav-pills > li > a{
        font-size: 0.8em;
    }
    
    .promise-container {
        display: block;
        width: 100%;
        height: 40vw;
        float: left;
        background-size: auto 35vw;
    }
    
    .promise {
        font-size: 3vw;
    }
    
}